{% extends 'base.html.twig' %}

{% block metaTitle %}
    Liste des tags
{% endblock %}

{% block main %}
<main class="">
    {% for tag in tags %}
    <div class="">
        <a href="{{ path('tagShow',{'id':tag.id }) }}"><h1 style="background-color:{{ tag.color }};">{{ tag.title }}</h1></a>
    </div><br><br>
    {% endfor %}
    </main>
{% endblock %}




